@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&family=Cormorant+SC:wght@300;400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/** nullstyle подключать в layout.tsx  */
@import './stylekit.css';

body {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: var(--ff-raleway);
  font-weight: 300;
  font-size: var(--fz-text-regular);
  color: var(--color-black);
  background-color: var(--color-secondary);
  line-height: var(--line-height);
  user-select: none;
}
#content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: inherit;
  position: relative;
}
._transition {
  transition: var(--transition);
  opacity: 1;
}

@media screen and (hover: hover) and (pointer: fine) {
  ._transition:hover {
    transition: var(--transition);
    opacity: 0.7;
    cursor: pointer;
  }
}


