/*! @font-face for src/fonts/.. */
:root {
  --color-primary: #d4dcb2;
  --color-secondary: #fffaf3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-error: #fe0202;

  --line-height: 120%;

  --fz-headline-1: 28px;
  --fz-headline-2: 24px;

  --fz-text-regular: 13px;
  --fz-text-large: 18px;
  --fz-text-medium: 16px;

  --btn-fz: 16px;
  --btn-p: 12px 45px;
  --btn-bg: transparent;
  --btn-hover: var(--color-primary);

  --blob-size: 100px;
  --blob-blur: blur(50px);

  /* 300, 400 */
  --ff-cormorant-sc: 'Cormorant SC', serif;
  /* 300, 400, 500 */
  --ff-raleway: 'Raleway', sans-serif;
  /* 300L, 400 */
  --ff-cormorant-g: 'Cormorant Garamond', serif;

  --container: 90.63vw;

  --transition: all ease-in-out 0.3s;
}

@media screen and (min-width: 768px) {
  :root {
    --container: 92.58vw;

    --fz-headline-1: 64px;
    --fz-headline-2: 55px;

    --fz-text-regular: 16px;
    --fz-text-large: 24px;
    --fz-text-medium: 24px;

    --btn-p: 10px 20px;

    --blob-size: 199px;
    --blob-blur: blur(90px);
  }
}

@media screen and (min-width: 1441px) {
  :root {
    --container: 1169px;

    --fz-headline-1: 80px;
    --fz-headline-2: 72px;

    --fz-text-regular: 18px;
    --fz-text-large: 36px;
    --fz-text-medium: 36px;

    --btn-p: 13px 26px;
    --btn-fz: 18px;

    --blob-size: 335px;
    --blob-blur: blur(200px);
  }
}

/* @media screen and (hover: hover) and (pointer: fine) {} */
