.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info,
.text {
  transition: var(--transition);
  animation-name: visible;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.top {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.top > svg {
  width: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.author {
  font-weight: 500;
  line-height: var(--line-height);
}

.data {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rate {
  display: flex;
  align-items: center;
}
.rate > svg {
  width: 12px;
}

.bottom {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.arrow {
  flex: 0 0 8px;
  translate: 0 3lh;
}

.more {
  background: transparent;
  color: #ababab;
}
.text {
  overflow: hidden;
  text-wrap: balance;
}

@media screen and (min-width: 768px) {
  .top > a {
    display: block;
    margin: 0 0 0 auto;
  }
  .top > svg {
    width: 31px;
  }
  .rate > svg {
    width: 17px;
  }
  .top,
  .info {
    gap: 15px;
  }
  .arrow {
    flex: 0 0 13px;
  }
  .bottom {
    gap: 30px;
  }
}

@media screen and (min-width: 1441px) {
  .top {
    gap: 30px;
  }
  .top > svg {
    width: 41px;
  }
  .bottom {
    gap: 50px;
  }
  .arrow {
    flex: 0 0 17px;
  }
  .text {
    line-height: 150%;
  }
}
