.section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
._error {
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .carousel {
    flex-wrap: nowrap;
    align-items: stretch;
    transition: var(--transition);
  }
  .dots {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
  }
  .dot {
    width: 13px;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--color-black);
    border-radius: 50%;
  }
  .dot._active {
    background-color: rgba(157, 165, 124, 1);
    border: none;
  }
}

@media screen and (min-width: 1441px) {
  .top {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .arrow {
    flex: 0 0 27px;
  }
  .carousel {
    gap: 30px;
    position: absolute;
  }
  .body {
    overflow: hidden;
    position: relative;
    flex: 1 1 auto;
    height: 360px;
  }
}

/* translate: -33% 0; */
/* translate: -61.7% 0; */
/* translate: -90.7% 0; */
/* translate: -100% 0; */
/* translate: -133% 0; */
